body {
    background-color: #00A9B9;
}

.navbar {
    background-color: #008999;
    position: relative;
    z-index: 1;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-text {
    color: white;
}

.navbar .navbar-brand img {
    max-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    background: white;
}

.loading {
    background-color: white;
    background-image: url('/img/loading.gif');
    background-position: center right;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
}





ul.tiles {
    position: relative;
    padding: 0;
    margin-bottom: 0;
}

ul.tiles li {
    display: inline-block;
    width: 200px;
    margin: 10px;
    border: 1px solid #666;
    background-color: white;
    padding: 10px;
    font-size: 80%;
    text-align: center;
    cursor: pointer;
}

ul.tiles li:hover {
    background-color: #EEE;
}

ul.tiles div.notice {
    background-color: white;
    margin: 10px -10px -10px -10px;
    border-top: 1px solid #eee;
    line-height: 3em;
}

ul.tiles li.status-warning {
    background-color: #FF4136;
    color: white;
}

ul.tiles li.status-warning:hover {
    background-color: #fa3232;
}

ul.tiles li.status-warning div.notice {
    color: #fa3232;
}


ul.tiles li.status-ok {
    background-color: #2ECC40;
    color: white;
}

ul.tiles li.status-ok:hover {
    background-color: #3D9970;
}

ul.tiles li.status-ok div.notice {
    color: #3D9970;
    border-top-color: #3D9970;
}



div#projects-detailed {
    position: relative;
    z-index: 2;
}

div.project-details {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

div.project-details .environment {
    padding: 10px 0;
    margin: 0;
    width: 48%;
    margin: 0 1%;
    float: left;
    background: white;
    height: 100%;
    position: relative;
}

div.project-details a.modal-close {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    z-index: 2;
    background-color: black;
    color: white;
    text-align: center;
}

div.project-details div.project-info {
    position: relative;
    min-height: 40px;
    border: 2px solid gray;
    padding: 10px;
    margin:10px;
}

div.project-details a.project-action {
    position: absolute;
    top: -10px;
    right: -10px;
    background: black;
    padding: 5px;
}

ul#projects-summary li {
    position: relative;
}

